body
{
	margin: 0;
	/*background: white; */
    background: -webkit-linear-gradient(#e5f4ff, #ffffff);
    background: -o-linear-gradient(#e5f4ff, #ffffff); 
    background: -moz-linear-gradient(#e5f4ff, #ffffff);
    background: linear-gradient(#e5f4ff, #ffffff); 
  /*  background-image: url('lwfQm84.jpg');
    background-repeat: no-repeat;
    background-position: top;*/
}
/*THIS SECTION IS FOR THE HEADER*/
header
{
	/*background-color: #686868;*/
	background-image: url("images/lwfQm84.jpg");
	background-size: auto;
	background-repeat: repeat-x;
	background-position: 0px;
	width: auto;
	height: auto;
	margin: 0px;

}
.col-3
{
	vertical-align: top; /*added by michael*/
	margin: 0px;	
	/*background-color: #c7c7c7;*/
	display: inline-block;
	/*border:1px solid white;*/
	width: 195px;
	height: 303px;

}
.speaker-size
{
	/*x=195
	y=303*/
	width: 195px;
	height: 303px;
}
#right-speaker
{
	position: absolute;
 	right: 0;
 	-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
 }
#left-speaker
{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}
#main-body
{
	
	/*color:white;*/
	/*background-color: #ffffff;*/
	width: calc(100% - 390px);
}
#nav-bar
{
	/*padding-left: 130px;*/ /*commented by michael*/
	display: table; /*added by michael*/
    width: 100%; /*added by michael*/
    height: 100%; /*added by michael*/
}
#nav-bar ul
{
	list-style: none;
    text-align: center; /*added by michael*/
    display: table-cell; /*added by michael*/
    vertical-align: middle; /*added by michael*/
}
#nav-bar ul li
{
	color: white;
	text-align: center;
	/*float: left;*/ /*commented by michael*/
	display: inline-block; /*added by michael*/
	/*margin-top: 120px;*/ /*commented by michael*/
	padding : 15px 30px 15px 30px;
	background-color: rgba(0,0,0,.5);

}
#push-to-right
{
	/*margin-left: 90px;*/ /*commented by michael*/
}
/*END OF SECTION FOR THE HEADER*/


#about-me-container
{
	width: 250px;
	/*background-color: #c7c7c7;*/
	margin-top: 30px;
	margin-left: 120px;
	display: inline-block;
}
.about-me-text
{
	
	
}
#guitar-bg
{
	width: 100%;
	height: 100%;
}
#guitar-bg img
{
	width: 100%;
	height: 100%;
}
footer
{
	margin-top: 1in;
	background-color: #0e0e0e;
	height: 2in;
}